/* nav related styles */
*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}
.nav-items{
    display: flex;
    gap: 20px;
    font-size: 25px;
    list-style: none;
    margin-right: 10px;
}